h1 {
  text-align: center;
  color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f0eeee;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.car-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 20px;
  margin: 30px auto;  
  text-align: center;
  max-width: 700px;
  box-shadow: 0 20px 300px rgba(255, 255, 255, 0.3);
}

.car-container img {
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
}

table td {
  padding: 8px 15px;
}

p {
    line-height: 1.6;
    color: white;
}
